<ion-header>
	<ion-navbar>
		<ion-title>{{roomContent.name}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="card-background-page">
	<ion-card>
		<div class="image-wrapper">
			<img [src]="roomContent.image | safe_image" [alt]="roomContent.name" class="image"/>
		</div>
		<div class="button__wrapper">
			<ion-fab class="button-show-room-object" center middle>
				<button class="ion_fab--button" ion-fab (click)="showRoomObjects()" mini>
					<ion-icon name="eye"></ion-icon>
				</button>
			</ion-fab>
		</div>
	
	
		<ion-item *ngIf="!showRoomDescription"> 
		  <p *ngFor="let paragraph of roomContent.descriptionInParagraphsArray" [innerHTML]="paragraph" text-wrap></p>
		</ion-item>
	  </ion-card>
</ion-content>