<ion-header>
	<ion-navbar>
		<ion-title>{{roomContent.name}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="card-background-page">
	<ion-card>
		<div class="image-wrapper">
			<img [src]="roomContent.image | safe_image" [alt]="roomContent.name" class="image"/>
		</div>
		<div class="button__wrapper">
			<ion-fab class="button-show-room-object" center middle>
				<button class="ion_fab--button" ion-fab (click)="showRoomObjects()" mini>
					<ion-icon name="eye"></ion-icon>
				</button>
			</ion-fab>
		</div>
	
	
		<ion-item *ngIf="!showRoomDescription"> 
		  <p *ngFor="let paragraph of roomContent.descriptionInParagraphsArray" [innerHTML]="paragraph" text-wrap></p>
		</ion-item>
	  </ion-card>
	
		<p padding>please choose the floor</p>
	
		<!-- <ion-list>
			<ion-item-sliding *ngFor="let floor of floorAmount; let i = index">
				<ion-item>
					<ion-thumbnail item-start>
						<img [src]="floor.floor_image">
					</ion-thumbnail>
					<h2>{{floor?.floor}}</h2>
					<p text-wrap>{{floor?.floor_description}}</p>
					<button ion-button clear item-end (click)="showFloorPage(i)">View</button>
				</ion-item>
				<ion-item-options side="left">
					<button ion-button color="primary">
						<ion-icon name="text"></ion-icon>
						activity
					</button>
				</ion-item-options>
			</ion-item-sliding>
	
		</ion-list> -->
	
</ion-content>