<ion-header>
    <ion-navbar core-back-button>
        <ion-title>{{ 'addon.mod_quiz.review' | translate }}</ion-title>

        <ion-buttons end>
            <button *ngIf="navigation && navigation.length" ion-button icon-only [attr.aria-label]="'addon.mod_quiz.opentoc' | translate" (click)="navigationModal.present()">
                <ion-icon name="bookmark"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-refresher [enabled]="loaded" (ionRefresh)="refreshData($event)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>
    <core-loading [hideUntil]="loaded">

	<!-- deleted useless html content -->
	
            <!-- Arrows to go to next/previous. -->
            <ng-container *ngTemplateOutlet="navArrows"></ng-container>
    </core-loading>
    <ion-row align-items-center>
        <ion-col>
			<button ion-button block icon-start (click)="navCtrl.pop()">
				<ion-icon name="arrow-back" md="ios-arrow-back"></ion-icon>
				{{ 'core.previous' | translate }}
			</button>
        </ion-col>
    </ion-row>
</ion-content>

<!-- Arrows to go to next/previous. -->
<ng-template #navArrows>
    <ion-row align-items-center>
        <ion-col>
            <a ion-button icon-only color="light" *ngIf="previousPage >= 0" (click)="changePage(previousPage)" [title]="'core.previous' | translate">
                <ion-icon name="arrow-back" md="ios-arrow-back"></ion-icon>
            </a>
        </ion-col>
        <ion-col text-right>
            <a ion-button icon-only color="light" *ngIf="nextPage >= -1" (click)="changePage(nextPage)" [title]="'core.next' | translate">
                <ion-icon name="arrow-forward" md="ios-arrow-forward"></ion-icon>
            </a>
        </ion-col>
    </ion-row>
</ng-template>
