<ion-header>
	<ion-navbar>
		<ion-title>{{title}} exponats</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="card-background-page">

	<ion-list>
	  <ion-item-sliding *ngFor="let topic of roomTopicContent; let i = index">
		<ion-item>
		  <ion-thumbnail item-start>
			<img [src]="topic.formattedContent.images[0].src | safe_image" [alt]="topic.name" class="image"/>
		  </ion-thumbnail>
		  <!-- <h2>{{topic.name}}</h2> -->
		  <!-- <p text-wrap>{{topic.description_short}}</p> -->
		  <button ion-button clear item-end (click)="showRoomObjectPage(i)">View</button>
		</ion-item>
		<ion-item-options side="left">
		  <button ion-button color="primary">
			<ion-icon name="text"></ion-icon>
			activity
		  </button>
		  <!-- <div *ngIf="show_inline">
			  <div class="testcont"></div>
			  <div class="responsive-video">
				<iframe src="https://www.youtube.com/watch?v=k7CzNCc1Krg"
				width="1600" height="900" frameborder="0" webkitAllowFullScreen
				mozallowfullscreen allowFullScreen></iframe>
				</div>
			</div> -->
		</ion-item-options>
	  </ion-item-sliding>
	  
	</ion-list>
  
  </ion-content>