qr-scanner-page {

    .content-md, .ion-app.md {
        color: $text-color;
        background-color: transparent !important;
    }

    &.ion-page  {
        background-color: transparent !important;
    }

    ion-content {
        background-color: transparent !important;
    }

    .hided-send-button-reference {
        display: none;
    }

    .qr_title {
        background-color: $white;
        color: $text-color;
        margin: 0;
        padding: $spacing--medium;
    }
}


