<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'core.scanner' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- <div class="qr_title-wrapper">
        <div float-end>
            <button ion-button icon-only clear color="dark" (click)="closeAndGoBack()">
                <core-icon name="md-close-circle"></core-icon>
            </button>
            <button class="hided-send-button-reference" #sendbutton ion-button icon-only clear color="dark" (click)="sendJson()"></button>
        </div>
        <h3 class="qr_title">{{ 'core.scannertext' | translate }}</h3>
    </div> -->
    <button class="hided-send-button-reference" #sendbutton ion-button icon-only clear color="dark" (click)="sendJson()"></button>
</ion-content>