<!-- Buttons to add to the header. -->
<core-navbar-buttons end>
    <core-context-menu>
        <core-context-menu-item *ngIf="externalUrl" [priority]="900" [content]="'core.openinbrowser' | translate" [href]="externalUrl" [iconAction]="'open'"></core-context-menu-item>
        <core-context-menu-item *ngIf="description" [priority]="800" [content]="'core.moduleintro' | translate" (action)="expandDescription()" [iconAction]="'arrow-forward'"></core-context-menu-item>
        <core-context-menu-item [priority]="700" [content]="'core.refresh' | translate" (action)="doRefresh(null, $event)" [iconAction]="refreshIcon" [closeOnClick]="false"></core-context-menu-item>
        <core-context-menu-item *ngIf="prefetchStatusIcon" [priority]="600" [content]="prefetchText" (action)="prefetch()" [iconAction]="prefetchStatusIcon" [closeOnClick]="false"></core-context-menu-item>
        <core-context-menu-item *ngIf="size" [priority]="500" [content]="size" [iconDescription]="'cube'" (action)="removeFiles()" [iconAction]="'trash'"></core-context-menu-item>
    </core-context-menu>
</core-navbar-buttons>
    
<!-- Content. -->
<core-loading [hideUntil]="loaded" class="core-loading-center">

<!-- For later   <core-course-module-description [description]="description" [component]="component" [componentId]="componentId"></core-course-module-description> -->
<!-- <ion-segment [(ngModel)]="screen_to_show">
    <ion-segment-button value="info">
        info
    </ion-segment-button>
    <ion-segment-button value="images">
        images
    </ion-segment-button>
    <ion-segment-button value="video">
        video
    </ion-segment-button>
    <ion-segment-button value="activity">
        activity
    </ion-segment-button>
</ion-segment> -->

<!-- <div [ngSwitch]="screen_to_show">
    <div *ngSwitchCase="'info'">
        <div class="home-detail__view">
            <div class="image___wrapper">

            </div>


            <div padding text-wrap>info</div>


        </div>
    </div>

    <div *ngSwitchCase="'images'">

                    <div class="slider-image"></div>
                <h4 class="slider-title">images</h4>

    </div>

    <div *ngSwitchCase="'video'">
        <div class="responsive-video">
                video
        </div>
    </div>
    <div *ngSwitchCase="'activity'">
            activity
    </div>
</div> -->
<div>
    <div *ngIf="contentsplittedMaps[mapIndexToShow]" class="image-wrapper">
        <!-- <div *ngFor="contentForSubContainer[mapIndexToShow].hotspotsCoordinates" class="hotspot">{{}}</div> -->
        <img [src]="contentsplittedMaps[mapIndexToShow].image | safe_image" [alt]="contentForSubContainer[mapIndexToShow].images[0].alt" class="image"/>
    </div>


</div>
<button class="nav-floors-button" (click)="startTourNavigateToFloor()" ion-button icon-only>
        <core-icon color="white" name="md-barcode"></core-icon>
    </button>
    <div padding>
        <!-- <h2>Module</h2>
        <p>{{module}}</p>
        <h2>Course</h2>
        <p>{{courseId}}</p>

        <h2>Image</h2>
        <p>{{image}}</p>
        <h2>Description</h2>
        <p *ngFor="let paragraph of descriptionInParagraphsArray" [innerHTML]="paragraph"></p>
        
        <h2>Pages</h2>
        <p *ngFor="let value of childPages">{{value}}</p>

        <h2>Sections</h2>
        <p *ngFor="let section of childSections">{{section}}</p> -->

        <core-format-text [component]="component" [componentId]="componentId" [text]="contents"></core-format-text>
    </div>

</core-loading>