core-navigation-map {

    .image-wrapper {
        position: relative;
        font-size: 0px;
        display: inline-block;
    }

    .image {
    }

    .hotspot {
        position: absolute;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: $button-height * 0.8;
        width: $button-height * 0.8;
        border: 2px solid $primary-color;
        border-radius: $button-height * 0.4;
        background: $white;
        font-size: $font-size--small;
        font-weight: bold;
        transform: translate3d(-50%, -50%, 0);
    }

    .hotspot-wrapper {
        display: inline-block;
    }
}