page-navigation-objects {
  
  ion-card {
    position: relative;
    text-align: center;
  }


  .button__wrapper {
    position: relative;
    height: $spacing--huge * 2;
  }

  .scroll-content ion-fab {
    position: absolute;
    margin-bottom: 0;
  }

  .item-md {
    h2 {
        margin-bottom: $spacing--small;
    }
  }
}
