<ion-header>
	<ion-navbar>
		<ion-title>{{roomContent.name}} {{ 'core.exponats' | translate }}</ion-title>
		<button class="own-image-button--mini qr-button" mini ion-fab (click)="navToQrScanner()">
			<img src="assets/img/qrcode_big_pr_co.png">
		</button>
	</ion-navbar>
</ion-header>
<ion-content class="card-background-page paddingBottomContent">
	<div class="paddingBottomContent">
		<ion-list>
			<ion-item-sliding *ngFor="let topic of roomTopicContent; let i = index">
				<ion-item>
					<ion-thumbnail item-start>
						<img [src]="topic.formattedContent.images[0].src | safe_image" [alt]="topic.name" class="image" />
					</ion-thumbnail>
					<h2>{{topic.sectionName}}</h2>
					<p text-wrap [innerHTML]="topic.shortDescription"></p>
					<button ion-button clear item-end (click)="showTopicPage(i)">{{ 'core.show' | translate }}</button>
				</ion-item>
			</ion-item-sliding>
		</ion-list>
	</div>
</ion-content>