<!-- div padding>
    <core-course-module-description [description]="module.description"></core-course-module-description>
    <h2 *ngIf="!isDisabledInSite && isSupportedByTheApp">{{ 'core.whoops' | translate }}</h2>
    <h2 *ngIf="isDisabledInSite || !isSupportedByTheApp">{{ 'core.uhoh' | translate }}</h2>

    <p class="core-big" *ngIf="isDisabledInSite">{{ 'core.course.activitydisabled' | translate }}</p>
    <p class="core-big" *ngIf="!isDisabledInSite && isSupportedByTheApp">{{ 'core.course.activitynotyetviewablesiteupgradeneeded' | translate }}</p>
    <p class="core-big" *ngIf="!isDisabledInSite && !isSupportedByTheApp">{{ 'core.course.activitynotyetviewableremoteaddon' | translate }}</p>
    <p *ngIf="isDisabledInSite || !isSupportedByTheApp"><strong>{{ 'core.course.askadmintosupport' | translate }}</strong></p>

    <div *ngIf="module.url">
        <p><strong>{{ 'core.course.useactivityonbrowser' | translate }}</strong></p>
        <a ion-button block icon-end [href]="module.url" core-link>
            {{ 'core.openinbrowser' | translate }}
            <ion-icon name="open"></ion-icon>
        </a>
    </div>
</div -->
<!-- DAVIDE -->
<div class="iframe-buttons-wrapper">
    <div class="button-wrapper">
        <button (click)="iframeResizer('smaller')" class="resize-button" ion-fab mini>
            <span>-</span>
        </button>
        <button (click)="iframeResizer('bigger')" class="resize-button" ion-fab mini>
            <core-icon name="ios-add-outline"></core-icon>
        </button>
    </div>
    <div class="iframe-div-wrapper">

        <div padding class="iframe-div" [ngStyle]="{'width': iframeDivWrapperWidth + '%'}">
            <core-course-module-description [description]="module.description"></core-course-module-description>
            <h2 *ngIf="!isDisabledInSite && isSupportedByTheApp">{{ 'core.whoops' | translate }}</h2>
            <div class="spinner-wrapper" *ngIf="!loaded">
                <ion-spinner></ion-spinner>
            </div>
            <iframe frameborder="0" class="h5p-iframe" scrolling="yes" *ngIf="loaded" [src]="url | safe_image"></iframe>
        </div>
    </div>
</div>